body{
    background: rgb(250, 238, 238);
    font-family: poppins;
    font-weight: 300;
}

.lead{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.para1{
    font-size: 16px;
font-family: Georgia, 'Times New Roman', Times, serif;
}